cryptography==46.0.3
typing-extensions
strands-agents==1.20.0
strands-agents-tools==0.2.15
boto3==1.40.75
bedrock-agentcore==1.0.6
bedrock-agentcore-starter-toolkit==0.1.33
PyJWT==2.13.0
pandas==2.3.3